*{
    margin: 0;
    padding: 0;
}
.header-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    
}
.header-bar span img{
    width: 35px;
}
.header-bar span h3{
    padding-top: 10px;
    font-size: 30px;
}

/* nav bar  */
nav{
    display: flex;
    justify-content: space-around;
    margin-top: 14px;
}
nav ul {
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.search-header{
    display: flex;
    flex-direction: row;
    gap: 3px;
}
nav div #search{
    width: 350px;
    height: 35px;
    border: none;
    background-color: rgb(241, 237, 230);
    padding: 4px;
    padding-left: 35px;

    
}
nav .search-header .search1 img{
    position: absolute;
    margin-left: -348px;
    margin-top: 2px;
    width: 27px;
}

nav div button{
    width: 70px;
    height: 35px;
    margin-right: 35px;
    background-color: rgb(27, 226, 160);
    border: none;
    color: white;
    border-radius: 0px 6px 6px 0;
    padding: 3px;
}

/* nav bar end  */

.home-sec{
    width: 100%;
    height: 100vh;

}
.home-sec{
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
    background-image: url(./images/Group\ 79.jpg);
    width: 100%;
    height: 450px;
    margin-top: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.home-sec .text-home p{
    font-size: 19px;
}
.home-sec .text-home button{
    margin-top: 10px;
    width: 90px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}
.home-sec div img{
    width: 330px;
    background-color: rgb(111, 230, 224);
    border-radius: 50%;
}
.home-sec .fa-solid{
    cursor: pointer;
    background-color: transparent;
    color: black;
    border-radius: 50%;
    border:  1px solid black;
    padding: 10px;
}

/* home card  */
.home-card{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 20px;
}

.home-card div{
    display: flex;
    width: 25%;
    background-color: rgb(197, 191, 182);
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
}
.home-card div img{
    width: 80px;
}
.home-card div .card-txt{
    padding-left: 9px;
    font-size: 15px;
}


/* home ads sec  */
.home-ads{
    display: flex;
    width: 100%;
    display: block;
    padding: 20px;
    
}
.home-ads div{
    display: flex;
    background-color: rgb(181, 204, 204);
    width: 37%;
    height: 100px;
    padding: 20px;
    margin: 10px;
    margin-left: 8.5%;
}
.home-ads .ads-3 img{
    width: 80px;
}

.ads-4{
    position: absolute;
    background-color: rgb(163, 214, 214);
    width: 37%;
    height: 255px;
    padding: 15px;
    margin-top: -319px;
    margin-left: 51.5%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.ads-4 span{
    margin-top: -80px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.ads-4 img{
    width: 210px;
    
}
/* card section end  */

/* featuerd products  */

#product-title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.featuerd-products{
    margin-top: 20px;
    padding: 20px;
    
}
.products-cards{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    outline: none;
    padding: 5px;
    justify-content: space-evenly;

}
.featuerd-products .products-cards .f-cards img{
    text-align: center;
    width: 230px;
}
.featuerd-products .f-cards{
    width: 220px;
    height: 320px;
    margin-top: 15px;
    padding: 10px;
    outline: none;
    box-shadow: rgb(100, 200, 300);
    background-color: rgb(199, 199, 170);
}
.featuerd-products .f-cards {
    box-shadow: 0 4px 8px rgba(180, 75, 75, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.featuerd-products .f-cards:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.featuerd-products .f-cards p{
    font-size: 14px;
    margin-top: 5px;
}
.featuerd-products .f-cards h3{
    margin-top: 7px;
    text-align: left;
}